{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário - Cidades{% endblock %}
{% block content %}
<h2>Cidades</h2>
<div class="span4">
    <ul>
    {% for entity in entities %}
        <li>
            <a href="{{ path('cidade_show', { 'id': entity.nome }) }}">
                {{ entity.nome }} - {{ entity.estado.nome }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
