{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}{% trans %}Quero ser Voluntário{% endtrans %} - {% trans %}Painel de Administração{% endtrans %}{% endblock %}
{% block content %}
    <h2>{% trans %}Painel de Administração{% endtrans %}</h2>
    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('entidade') }}">{% trans %}Entidades{% endtrans %}</a>
            <a href="{{ path('vaga') }}">{% trans %}Vagas{% endtrans %}</a>
            <a href="{{ path('voluntario') }}">{% trans %}Voluntários{% endtrans %}</a>
            <a href="{{ path('logout') }}">{% trans %}Sair{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}
