{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário - Painel de Administração{% endblock %}
{% block content %}
    <h2>Painel de Administração</h2>
    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('voluntario') }}">Lista de Voluntários</a>
            <a href="{{ path('logout') }}">Sair</a>
        </li>
    </ul>
{% endblock %}
