.git
.gitignore
.scrutinizer.yml
.vagrant
app/cache
app/logs
docker
docker-compose.yml
node_modules
symfony
vendor/doctrine/annotations/.git
vendor/doctrine/common/.git
vendor/doctrine/dbal/.git
vendor/doctrine/doctrine-bundle/.git
vendor/doctrine/orm/.git
vendor/guzzle/guzzle/.git
vendor/kriswallsmith/assetic/.git
vendor/mailgun/mailgun-php/.git
vendor/monolog/monolog/.git
vendor/phpspec/phpspec/.git
vendor/phpunit/php-code-coverage/.git
vendor/phpunit/phpunit/.git
vendor/phpunit/phpunit-mock-objects/.git
vendor/swiftmailer/swiftmailer/.git
vendor/symfony/symfony/.git
vendor/twig/twig/.git
