{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário - Cadastro de Voluntário{% endblock %}
{% block content %}
<h1>Voluntario creation</h1>

<form action="{{ path('voluntario_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('voluntario') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
