{% extends "EherQueroSerVoluntarioFrontendBundle::layout.html.twig" %}
{% block title %}{% trans %}Quero ser Voluntário{% endtrans %} - {% trans %}Cadastro de Voluntário{% endtrans %}{% endblock %}
{% block content %}
    <h2>{% trans %}Cadastro de Voluntário{% endtrans %}</h2>
    <p>{% trans %}Gostaria de contribuir com o seu tempo para ajudar alguém{% endtrans %}?</p>
    <p>{% trans %}Deixe seus dados que assim que tivermos uma oportunidade com o seu perfil, entramos em contato{% endtrans %}.</p>
    <div class="col-md-3 well">
        {{ form(form) }}
    </div>
    {{ include('FpJsFormValidatorBundle::javascripts.html.twig') }}
{% endblock %}
