parameters:
    database_driver: %database.driver%
    database_host: %database.host%
    database_port: %database.port% 
    database_name: %database.name%
    database_user: %database.user%
    database_password: %database.password%
    database_unix_socket: %database.socket%
    database_path: %database.path% 

    mailer_transport: %mailer.transport%
    mailer_host: %mailer.host% 
    mailer_user: %mailer.user% 
    mailer_password: %mailer.password%

    locale: %locale% 
    secret: %secret%

    apontador.api.base_url: %apontador.api.baseurl%
    apontador.api.consumer_key: %apontador.api.consumer.key%
    apontador.api.consumer_secret: %apontador.api.consumer.secret%

    admin.web.username: %admin.web.user%
    admin.web.password: %admin.web.password% 

    contact.mail: %contact.mail%


