[parameters]
    database_driver="pdo_mysql"
    database_host="localhost"
    database_port=""
    database_name="voluntarios"
    database_user=""
    database_password=""
    database_unix_socket="/tmp/mysql.sock"
    database_path=""
    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""
    locale="en"
    secret=""
    apontador.api.base_url="http://api.apontador.com.br/v1/"
    apontador.api.consumer_key=""
    apontador.api.consumer_secret=""

