set SYMFONY__DATABASE__DRIVER pdo_mysql
set SYMFONY__DATABASE__HOST localhost
set SYMFONY__DATABASE__PORT 3306
set SYMFONY__DATABASE__NAME voluntarios
set SYMFONY__DATABASE__USER root
set SYMFONY__DATABASE__PASSWORD ""
set SYMFONY__DATABASE__SOCKET ""
set SYMFONY__DATABASE__PATH "%kernel.root_dir%/../database.db3"
set SYMFONY__MAILER__TRANSPORT smtp
set SYMFONY__MAILER__HOST localhost
set SYMFONY__MAILER__PORT 25
set SYMFONY__MAILER__USER mailer_user
set SYMFONY__MAILER__PASSWORD mailer_password
set SYMFONY__MAILER__AUTH__MODE login
set SYMFONY__MAILER__ENCRYPTION ssl
set SYMFONY__FRAMEWORK__LOCALE pt
set SYMFONY__FRAMEWORK__SECRET 1234
set SYMFONY__APONTADOR__API__BASEURL https://api.apontador.com.br/v2/
set SYMFONY__APONTADOR__API__CONSUMERKEY consumerkey
set SYMFONY__APONTADOR__API__CONSUMERSECRET consumersecret
set SYMFONY__APONTADOR__API__ACCESSTOKEN accesstoken
set SYMFONY__ADMIN__WEB__USER admin
set SYMFONY__ADMIN__WEB__PASSWORD 81dc9bdb52d04dc20036dbd8313ed055
set SYMFONY__CONTACT__EMAIL tequeremosvoluntario@gmail.com
