parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: ~
    database_name: %database.name%
    database_user: %database.user%
    database_password: %database.password%
    database_unix_socket: %database.socket%
    database_path: ~

    mailer_transport: gmail
    mailer_host: ~
    mailer_user: %mailer.user% 
    mailer_password: %mailer.password%
    mailer_delivery_address: %mailer.delivery.address%


    locale: en
    secret: ThisTokenIsVerySecret

    apontador.api.base_url: "http://api.apontador.com.br/v1/"
    apontador.api.consumer_key: %apontador.api.consumer.key%
    apontador.api.consumer_secret: %apontador.api.consumer.secret%

    admin.web.username: "admin"
    admin.web.password: ""


