[parameters]
    database_driver="pdo_mysql"
    database_host="localhost"
    database_port=""
    database_name="voluntarios"
    database_user=""
    database_password=""
    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""
    locale="en"
    secret=""
    apontador_consumer_key=""
    apontador_consumer_secret=""

