env SYMFONY__DATABASE__DRIVER pdo_mysql
env SYMFONY__DATABASE__HOST db
env SYMFONY__DATABASE__PORT 3306
env SYMFONY__DATABASE__NAME voluntarios
env SYMFONY__DATABASE__USER root
env SYMFONY__DATABASE__PASSWORD $MYSQL_ROOT_PASSWORD
env SYMFONY__MAILER__TRANSPORT smtp
env SYMFONY__MAILER__HOST localhost
env SYMFONY__MAILER__PORT 25
env SYMFONY__MAILER__ENCRYPTION ssl
env SYMFONY__MAILER__AUTH__MODE login
env SYMFONY__MAILER__USER mailer_user
env SYMFONY__MAILER__PASSWORD mailer_password
env SYMFONY__FRAMEWORK__LOCALE pt
env SYMFONY__FRAMEWORK__SECRET 1234
env SYMFONY__APONTADOR__API__BASEURL https://api.apontador.com.br/v2/
env SYMFONY__APONTADOR__API__ACCESSTOKEN accesstoken
env SYMFONY__CONTACT__EMAIL tequeremosvoluntario@gmail.com
