parameters:
    database_driver: %database.driver%
    database_host: %database.host%
    database_port: %database.port%
    database_name: %database.name%
    database_user: %database.user%
    database_password: %database.password%

    mailgun_key: %mailgun.key%
    mailgun_domain: %mailgun.domain%

    locale: %framework.locale%
    secret: %framework.secret%

    contact_email: %contact.email%
