{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário - Nova de Vagas{% endblock %}
{% block content %}
    <h1>Nova Vaga</h1>

    <form action="{{ path('vaga_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('vaga') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
