#!/usr/bin/make -f
PKGNAME  := queroservoluntario
DESTDIR  := /var/www/queroservoluntario

build:
	dh_testdir
	make config install test

clean:
	dh_testdir
	dh_testroot
	rm -rf debian/$(PKGNAME)/
	rm -rf vendor/
	dh_clean

binary-indep:
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary-arch binary
