{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário - Contato{% endblock %}
{% block content %}
    <h2>Contato</h2>
    <p>Sua opinião é muito importante para manter esse trabalho.</p>
    <p>Fique a vontade para entrar em contato.</p>
    <br />
    <a href="http://eher.com.br/">Alexandre Eher</a>
    <ul class="unstyled">
        <li>Fone: <a href="tel:551588088837">+55 (15) 8808-8837</a></li>
        <li>Email: <a href="mailto:alexandre@eher.com.br">alexandre@eher.com.br</a></li>
    </ul>
    <br />
    <h3>Links Úteis</h3>
    <ul>
        <li><a href="http://idopter.com/users/alexandre-eher/ideas/120-quero-ser-voluntario">Projeto</a></li>
        <li><a href="http://idopter.com/ideas/120-quero-ser-voluntario/posts#updates">Blog</a></li>
        <li><a href="https://github.com/EHER/voluntarios">Código fonte no Github</a></li>
        <li><a href="https://trello.com/board/quero-ser-voluntario/4f4baee836aedbd4630e7daa">Quadro de tarefas</a></li>
    </ul>
    
{% endblock %}
