{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário - Parabéns pelo Cadastro{% endblock %}
{% block content %}
    <h2>Parabéns pelo Cadastro</h2>
    <p>Em breve essa entidade também estará disponível em nosso site.</p>
    <p>Aproveite para:</p>
    <ul>
        <li><a href="{{ path('entidade_cadastrar') }}">Cadastrar outra entidade</a></li>
        <li><a href="{{ path('voluntario_cadastrar') }}">Cadastrar um voluntário</a></li>
    </ul>
{% endblock %}
