{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário - Cadastro de Entidade{% endblock %}
{% block content %}
    <div class="span6">
        <h2>Cadastro de Entidade</h2>
        <p>Conhece alguma entidade que não está cadastrada?</p>
        <p>Preencha o formulário abaixo que em breve adicionaremos ao nosso site.</p>
        <br/>
        <form action="{{ path('entidade_criar') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
                {{ form_widget(form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                    <button type="reset" class="btn">Cancelar</button>
                </div>
        </form>
    </div>
{% endblock %}
