{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}{% trans %}Quero ser Voluntário{% endtrans %} - {% trans %}Cadastro de Entidade{% endtrans %}{% endblock %}
{% block content %}
    <h2>{% trans %}Cadastro de Entidade{% endtrans %}</h2>
    <p>{% trans %}Conhece alguma entidade que não está cadastrada{% endtrans %}?</p>
    <p>{% trans %}Preencha o formulário abaixo que em breve adicionaremos ao nosso site{% endtrans %}.</p>
    <div class="col-md-4 well">
        {{ form(form) }}
    </div>
{% endblock %}
