{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário - Contato{% endblock %}
{% block content %}
    <h2>Sobre o Site</h2>
    <p>O site <a href="{{ url('homepage') }}">{{ url('homepage') }}</a> foi feito com o objetivo de colocar voluntários e entidades beneficentes em contato.</p>
    <p>Quem nunca fez a pergunta "O que tem para fazer hoje"? De fato em vários momentos da nossa vida somos acometidos por essa sensação. Já que está sem nada para fazer, por que não empreender em uma causa nobre?</p>
    <p>A ideia é que este site seja um grande repositório de entidades e suas necessidades, para que pessoas bem intencionadas possam dar sua participação.</p>
{% endblock %}
