{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}{% trans %}Quero ser Voluntário{% endtrans %} - {% trans %}Sobre o Site{% endtrans %}{% endblock %}
{% block content %}
    <h2>{% trans %}Sobre o Site{% endtrans %}</h2>
    <p>{% trans %}O site{% endtrans %} <a href="{{ path('homepage') }}">QueroSerVoluntario.com</a> {% trans %}foi feito com o objetivo de colocar voluntários e entidades beneficentes em contato{% endtrans %}.</p>
    <p>{% trans %}Quem nunca fez a pergunta "O que tem para fazer hoje"{% endtrans %}? {% trans %}De fato em vários momentos da nossa vida somos acometidos por essa sensação{% endtrans %}. {% trans %}Já que está sem nada para fazer, por que não empreender em uma causa nobre{% endtrans %}?</p>
    <p>{% trans %}A ideia é que este site seja um grande repositório de entidades e suas necessidades, para que pessoas bem intencionadas possam dar sua participação{% endtrans %}.</p>
{% endblock %}
