{% extends "EherVoluntariosBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário - Contato{% endblock %}
{% block content %}
    <h2>Buscar de Entidades Beneficentes em:</h2>
    <form action="">
        <input name="cidade" type="text" value="São Paulo" />
        <input name="uf" type="text" value="SP" />
        <input type="submit" value="Buscar" />
    </form>
{% endblock %}
{% block searchResult %}
    <p>Resultador da Busca</p>
    <ul>
        <li>Resultado 1</li>
        <li>Resultado 2</li>
        <li>Resultado 3</li>
    </ul>
{% endblock %}
