{% extends "EherVoluntariosBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário - Contato{% endblock %}
{% block content %}
    <h2>Buscar de Entidades Beneficentes em:</h2>
    <form action="">
        <label> Cidade
            <input name="cidade" type="text" value="{{ cityName }}" />
        </label>
        <label> UF 
            <input name="uf" type="text" value="{{ stateName }}" />
        </label>
        <input type="submit" value="Buscar" />
    </form>
    {% if search %}
        {% if search.getNumFound > 0 %}
            <p>Resultado da Busca:</p>
            <ul>
            {% for place in search.getItems %}
                <li>{{ place.name }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Nenhum resultado.</p>
        {% endif %}
    {% endif %}
{% endblock %}
