{% extends "EherVoluntariosBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário{% endblock %}
{% block content %}
    <h2>Página Principal</h2>
    <p>Olá {{ user.name }}</p>
{% endblock %}
