{% extends "EherQueroSerVoluntarioFrontendBundle::layout.html.twig" %}
{% block title %}{% trans %}Quero ser Voluntário{% endtrans %} - {% trans %}Contato{% endtrans %}{% endblock %}
{% block content %}
    <h2>{% trans %}Contato{% endtrans %}</h2>
    <p>{% trans %}Sua opinião é muito importante para manter esse trabalho{% endtrans %}.</p>
    <p>{% trans %}Fique a vontade para entrar em contato pelo{% endtrans %} <strong>e-mail</strong>: <a href="mailto:contato@queroservoluntario.com">contato@queroservoluntario.com</a> {% trans %}ou pelo{% endtrans %} <strong>whatsapp</strong>: <a href="tel:310617275823">+31 (06) 1727-5823</a></p>

    <h3>{% trans %}Links Úteis{% endtrans %}</h3>
    <ul>
        <li><a href="https://www.facebook.com/QueroSerVoluntario">{% trans %}Página no Facebook{% endtrans %}</a></li>
        <li><a href="http://idopter.com/ideas/120-quero-ser-voluntario/posts#updates">{% trans %}Blog{% endtrans %}</a></li>
        <li><a href="http://idopter.com/users/alexandre-eher/ideas/120-quero-ser-voluntario">{% trans %}Projeto{% endtrans %}</a></li>
        <li><a href="https://github.com/EHER/voluntarios">{% trans %}Código fonte no Github{% endtrans %}</a></li>
        <li><a href="https://trello.com/board/quero-ser-voluntario/4f4baee836aedbd4630e7daa">{% trans %}Quadro de tarefas{% endtrans %}</a></li>
    </ul>
{% endblock %}
