{% extends "EherQueroSerVoluntarioFrontendBundle::layout.html.twig" %}
{% block title %}{% trans %}Quero ser Voluntário{% endtrans %} - {% trans %}Mensagem Bem-vindo{% endtrans %}{% endblock %}
{% block content %}
    <h2>{% trans %}Mensagem Bem-vindo{% endtrans %}</h2>
    <textarea id="message"  class="form-control" rows="10">
Olá {{ nome|split(' ')|first|title|default('Voluntário') }},

Fico muito feliz que tenha feito o cadastro no site Quero ser Voluntário!

O objetivo desse e-mail é saber um pouco mais de você e entender como o site pode te ajudar.

Seguem algumas perguntas:
- Prefere contato por telefone, e-mail ou whatsapp?
- Você já fez algum trabalho voluntário?
- Existe alguma área específica que queira contribuir?
- Qual o melhor horário para você se dedicar a alguma necessidade?
- Uma lista de entidades na sua cidade com endereço e telefone te ajuda? 
- Gostaria de poder fazer trabalho voluntário online?
- Você indicaria o site queroservoluntario.com para alguém que queira ser voluntário?
- Como descobriu o site queroservoluntario.com?

Qualquer coisa é só chamar.
</textarea>
{% endblock %}

